@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.otf") format("otf"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.eot");
  src: url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.otf") format("otf"), url("../fonts/Inter-SemiBold.svg#Inter-SemiBold") format("svg"), url("../fonts/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Gilroy";
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
}

a {
  color: #FFFFFF;
  opacity: 60%;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #FFFFFF;
  opacity: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1253px;
}

.title {
  font-family: "Gilroy";
  font-size: 2.25em;
  font-weight: 500;
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0px 2px 4px rgb(0, 0, 0);
  max-height: 98px;
}

.header__top-logo {
  display: flex;
}

.header__logo {
  opacity: 1;
}

.nav__list li {
  position: relative;
  font-weight: 600;
}

.nav__list li:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2447FF;
  transition: all 0.2s ease-in;
  left: 0;
  top: -100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header__top-logo {
  display: flex;
  gap: 1em;
  margin-right: 29px;
}

.header__title {
  font-family: "Inter";
}

.header__logo-title {
  font-size: 1.5em;
  font-weight: 600;
}

.header__top-descr {
  font-size: 1em;
  opacity: 0.8;
}

.header-button {
  opacity: 0.8;
}

.nav {
  font-size: 20px;
}

.nav__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.hiro {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 900px;
  background: url("../../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  padding-top: 70px;
}

.hiro__hiro-top {
  font-size: 2.25em;
  font-family: "Gilroy";
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hiro__hiro-title {
  font-weight: 600;
}

.title-text {
  font-weight: 500;
}

.hiro__hiro-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.hiro__subtitle {
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}

.text-opacity {
  opacity: 0.6;
}

.hiro__highlighted-text {
  opacity: 1;
  color: #FFFFFF;
}

.hiro__hiro-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1;
}

.hiro__hiro-button {
  opacity: 0.8;
  z-index: 9;
}

.hiro__hiro-button:nth-child(2) {
  margin-left: -40px;
}

.hiro__hiro-button:nth-child(3) {
  margin-right: 50px;
}

.hiro-container {
  position: relative;
  width: 100%;
}

.hiro__bg-elements {
  position: absolute;
  bottom: -265px;
  left: 45px;
}

.hiro__ellipse-left {
  position: absolute;
  top: -250px;
  left: -450px;
  bottom: 0;
  z-index: -1;
  overflow-y: hidden;
}

.hiro__ellipse-center {
  position: absolute;
  top: -200px;
  left: 40px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hiro__ellipse-right {
  position: absolute;
  top: -70px;
  right: -500px;
  bottom: 300px;
  opacity: 0.9;
  z-index: -1;
  overflow-y: hidden;
}

.hiro__ellipse-right-second {
  position: absolute;
  top: -170px;
  right: -700px;
  bottom: 300px;
  opacity: 0.9;
  z-index: 0;
  z-index: -1;
  opacity: 0.5;
  overflow-y: hidden;
}

.about {
  background-image: url("../../img/about/about-bg.png");
  min-height: 100vh;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  margin-bottom: -200px;
}

.about-container {
  padding: 0 10px;
}

.about__item {
  position: relative;
  padding: 24px;
  z-index: 1;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.about__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.06);
  /* Наследуем фоновый цвет и изображение от родительского элемента */
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  /* Замените 5px на желаемую величину размытия */
  z-index: -1;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.about__item-title {
  font-family: "Gilroy";
  font-size: 1.5em;
  font-weight: 600;
}

.about__items {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-gap: 28px;
}

.about__item-header {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.about__description {
  font-family: "Gilroy";
  font-size: 1em;
  line-height: 24px;
}

.advantages {
  min-height: 100vh;
}

.advantages__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid red;
}

.advantages__content-elem {
  border: 1px solid rgb(0, 255, 76);
}

.advantages__content-elem_two {
  grid-column: 2/2;
  grid-row: 1/3;
}

.advantages__content-elem_five {
  grid-column: 1/3;
  grid-row: 3/3;
}

.advantages__content-elem_six {
  grid-column: 3/3;
  grid-row: 2/4;
}/*# sourceMappingURL=main.css.map */