 .ecosystem {
   background-image: url('../../img/ecosystem/ecosystem-bg.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .ecosystem__title {
   text-align: left;
 }

 .ecosystem-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 40px;
 }

 .ecosystem__image {
   justify-self: center;
 }

 .ecosystem__text {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 40px;
 }


 @media screen and (max-width: 768px) {
   .ecosystem {
     background-image: url('../../img/ecosystem/bg-mobile.png');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: bottom;
     ;

     .ecosystem-container {
       grid-template-columns: none;
       text-align: center;

       .ecosystem__title {
         text-align: center;
         margin-bottom: 24px;
       }

       .ecosystem__image {
         display: none;
       }

       .ecosystem__text__item {
         margin-bottom: 48px;
       }
     }
   }
 }