.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: $dark;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  // width: 100%;
  max-height: 98px;
}

.header__top-logo {
  display: flex;
}

.header__logo {
  opacity: 1;
}

.nav__list li {
  position: relative;
  font-weight: 600;
}

.nav__list li:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: $shape;
  transition: all 0.2s ease-in;
  left: 0;
  top: -100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

// .header__navigation {
//   width: 100%;
// }


.header__top-logo {
  display: flex;
  gap: 1em;
  margin-right: 29px;
}

.header__title {
  font-family: $font-secondary;
}

.header__logo-title {
  font-size: 1.5em;
  font-weight: 600;
}

.header__top-descr {
  font-size: 1em;
  opacity: 0.8;
}

.header-button {
  opacity: 0.8;
}


