.hiro {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 900px;
  background: url('../img/header/header-bg.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: contain;
  padding-top: 40px;
}

.hiro-container {
  position: relative;

  .hiro__bg {
    position: absolute;
  }
}

.hiro__hiro-top {
  font-size: 2.25em;
  font-family: "Gilroy";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hiro-top__item {
  display: flex;
}

.title-descr {
  max-width: 930px;
  text-align: center;
}

.descr-text {
  display: inline-block;
  margin-bottom: 0.2em;
}

.hiro__hiro-title {
  font-weight: 600;
}

.title-text {
  font-weight: 500;
}

.hiro__hiro-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.hiro__subtitle {
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}

.text-opacity {
  opacity: 0.6;
}

.hiro__highlighted-text {
  opacity: 1;
  color: $white;
}

.hiro__hiro-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.element-mobile {
  display: none;
}

// button

.wrapper-btn:hover {
  filter: drop-shadow(0px 0px 20px #1A3BCC);
}

.button-join {
  min-width: 192px;
  min-height: 64px;
  background-image: url('../img/header/btn-join.svg');
  clip-path: polygon(0% 0%, 88.281% 0%, 100% 27.344%, 100% 100%, 90.104% 100%, 90.104% 93.75%, 77.083% 93.75%, 77.083% 100%, 10.677% 100%, 0% 71.875%, 0% 0%);
  background-repeat: no-repeat;
  background-size: cover;
}

.button-whitepaper {
  position: relative;
  min-width: 192px;
  min-height: 64px;
  clip-path: polygon(0% 0%, 88.281% 0%, 100% 27.344%, 100% 100%, 90.104% 100%, 90.104% 93.75%, 77.083% 93.75%, 77.083% 100%, 10.677% 100%, 0% 71.875%, 0% 0%);
  background-image: url('../img/header/btn-whitepaper.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

// .button-whitepaper>.btn-title {
//   filter: drop-shadow(0px 0px 150px #1A3BCC) brightness(150%);
//   position: relative;
// }

.hiro__hiro-buttons {
  position: relative;
}

.button-whitepaper__bg {
  position: absolute;
  left: 0;
  bottom: -20px;
  z-index: -2;

  filter: blur(10px);
  /* Добавляем размытие */
  filter: drop-shadow(0px 0px 5px #2448ff) brightness(150%);
  opacity: 0.8;
}

.button-whitepaper:hover {
  filter: drop-shadow(0px 0px 150px #1A3BCC);
}


.button-video {
  min-width: 270px;
  min-height: 64px;
  clip-path: polygon(0% 0%, 92.407% 0%, 100% 27.344%, 100% 100%, 90.104% 100%, 90.104% 93.75%, 77.083% 93.75%, 77.083% 100%, 6.296% 100%, 0% 71.875%, 0% 0%);
  background-image: url('../img/header/btn-video.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


.button-video__icon {
  margin-left: 8px;
}

.btn-title {
  font-family: $font-main;
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

// .hiro__hiro-button {
//   padding: 0;
//   margin: 0;
// }

.hiro-container {
  position: relative;
  width: 100%;
}

.hiro__bg-elements {
  position: absolute;
  top: 50%;
  left: 45px;
  z-index: -2;
  // width: 100%;
  // height: auto;
}

.hiro__ellipse-left {
  position: absolute;
  top: -250px;
  left: -450px;
  bottom: 0;
  z-index: -1;
  // overflow-y: hidden;
  // width: 100%;
  // height: auto;
}

.hiro__ellipse-center {
  position: absolute;
  top: -200px;
  left: 40px;
  right: 0;
  bottom: 0;
  z-index: -1;
  // width: 100%;
  // height: auto;
}

.hiro__ellipse-right {
  position: absolute;
  top: -70px;
  right: -500px;
  bottom: 300px;
  opacity: 0.9;
  z-index: 0;
  // width: 100%;
  // height: auto;
}

.hiro__ellipse-right-second {
  position: absolute;
  top: -170px;
  right: -700px;
  bottom: 300px;
  // width: 100%;
  // height: auto;
  opacity: 0.9;
  z-index: 0;
  opacity: 0.5;
  // overflow-y: hidden;
}

.hiro__shape-right {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: -150px;
  right: -50px;
  z-index: -2;
}

.hiro__shape-left {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: -150px;
  right: 50px;
  z-index: -2;
}

.hiro__btn-presentation-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .hiro__shape-right {
    top: -30px;
  }

  .hiro__shape-left {
    top: -80px;
  }
}

@media screen and (max-width: 992px) {
  .hiro {
    min-height: 802px;
  }

  .hiro__shape-right {
    top: -64px;
    left: 104px;
  }
}

@media screen and (max-width: 768px) {
  .hiro {
    background-position: 50% 50%;

    .hiro-container {
      .element-mobile {
        display: block;
      }

      .hiro__hiro-top {
        font-size: 1.8em;
        margin-bottom: 20px;
      }

      .hiro__ellipse-right {
        right: -450px;
        z-index: -2;
      }

      .hiro__ellipse-right-second {
        right: 0px;
      }

      .hiro__shape-right {
        top: 172px;
      }

      .hiro__shape-left {
        top: 122px;
      }

      .hiro__hiro-buttons {
        gap: 5px;
      }
    }
  }
}



//mobile
@media screen and (max-width: 576px) {
  .hiro {
    background-image: url('../img/header/mobile-bg-1.png');
    background-size: cover;
    background-position: 50% 25%;

    .hiro-container {
      min-height: 823px;
      margin-bottom: 100px;


      .element-mobile {
        display: block;
      }

      .hiro__hiro-top {
        font-size: 1.5em;
        text-align: center;
      }

      .hiro-top__item {
        position: relative;
        max-width: 320px;
      }

      .hiro__hiro-title {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .hiro-top__item>.hiro__hiro-icon:first-child {
        position: absolute;
        top: 1px;
        left: -33px;
      }

      .title-descr {
        position: relative;
        max-width: 301px;
        text-align: center;
        line-height: 1.2em;
      }

      .descr-text {
        margin: 0;
      }

      .title-descr>span:last-child {
        display: inline-block;
      }

      .hiro__hiro-icon {
        margin: 0;
      }

      .hiro__hiro-icon:last-child {
        position: absolute;
        left: -5px;
        bottom: -3px;
      }


      .hiro__logo {
        margin-right: -28px;
      }

      .hiro__hiro-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
      }

      .hiro__subtitle {
        font-size: 1em;
      }

      .hiro__hiro-buttons {
        flex-direction: column;
        gap: 0;
      }

      .hiro__hiro-button {
        max-height: 56px;
      }

      .hiro__hiro-button {
        margin-bottom: 24px;
      }

      .button-video__icon {
        display: none;
      }

      .btn-title {
        font-size: 1em;
      }


      .button-video {
        min-width: 192px;
      }

      .hiro__bg-elements,
      .hiro__ellipse-left,
      .hiro__ellipse-center,
      .hiro__ellipse-right,
      .hiro__ellipse-right-second {
        display: none;
      }
    }
  }
}